Repository SE-UUlm/votura, pull requests merged in 2025-06, with the labels that each got.

#138 #120 [DB] Migrate ballot paper data model
  apps/backend/api/ballotPaperSections/schemas.yaml
  apps/backend/api/ballotPapers/schemas.yaml
  apps/backend/api/candidates/schemas.yaml
  apps/backend/api/users/schemas.yaml
  apps/backend/api/users/verifyEmail.yaml
  apps/backend/prisma/migrations/20250526104126_init/migration.sql
  apps/backend/prisma/migrations/20250602203535_init/migration.sql
  apps/backend/prisma/schema.prisma
  apps/docs/static/uml/dataModel.puml
Labels: DB: Database, Feature, EPIC: Ballot Paper

#140 #121 [DB] Migrate voter data model
  apps/backend/prisma/migrations/20250603064524_init/migration.sql
  apps/backend/prisma/schema.prisma
  apps/docs/static/uml/dataModel.puml
Labels: DB: Database, Feature, EPIC: Voter

#158 #155 oap move elections user from yaml to zod
  .github/workflows/documentation.yml
  apps/backend/.spectral.yaml
  apps/backend/package.json
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  cspell.json
  package-lock.json
  packages/votura-validators/.gitignore
  packages/votura-validators/.prettierignore
  packages/votura-validators/.prettierrc.js
  packages/votura-validators/README.md
  packages/votura-validators/eslint.config.js
  packages/votura-validators/package.json
  packages/votura-validators/src/index.ts
  packages/votura-validators/src/objects/election.ts
  packages/votura-validators/src/objects/identifiableObject.ts
  packages/votura-validators/src/objects/identifiableTimestampedObject.ts
  packages/votura-validators/src/objects/response.ts
  packages/votura-validators/src/objects/timestampedObject.ts
  packages/votura-validators/src/objects/user.ts
  packages/votura-validators/src/parserParams.ts
  packages/votura-validators/src/schema/elections/electionIdParameter.ts
  packages/votura-validators/src/schema/elections/electionPathObject.ts
  packages/votura-validators/src/schema/elections/electionsPathObject.ts
  packages/votura-validators/src/schema/elections/freezeElectionPathObject.ts
  packages/votura-validators/src/schema/elections/unfreezeElectionPathObject.ts
  packages/votura-validators/src/schema/globals/responses.ts
  packages/votura-validators/src/schema/globals/securitySchemaName.ts
  packages/votura-validators/src/schema/globals/tag.ts
  packages/votura-validators/src/schema/persistSchema.ts
  packages/votura-validators/src/schema/users/emailVerificationTokenHashParameter.ts
  packages/votura-validators/src/schema/users/loginUsersPathObject.ts
  packages/votura-validators/src/schema/users/logoutUsersPathObject.ts
  packages/votura-validators/src/schema/users/refreshTokensUsersPathObject.ts
  packages/votura-validators/src/schema/users/requestPasswordResetUsersPathObject.ts
  packages/votura-validators/src/schema/users/resetPasswordUsersPathObject.ts
  packages/votura-validators/src/schema/users/usersPathObject.ts
  packages/votura-validators/src/schema/users/verifyEmailUsersPathObject.ts
  packages/votura-validators/src/schema/voturaOpenApiSchema.ts
  packages/votura-validators/src/voturaMetadateRegistry.ts
  packages/votura-validators/tsconfig.json
Labels: EPIC: Elections, OAP: OpenAPI

#160 #41 activate linux sp runner
  .github/workflows/documentation.yml
  .github/workflows/testing.yml
  packages/votura-crypto/test/index.test.ts
Labels: Bug, CI/CD Pipeline

#142 #130 [BAPI] implement create election api
  apps/backend/package.json
  apps/backend/src/controllers/elections.controllers.ts
  apps/backend/src/controllers/users.controllers.ts
  apps/backend/src/db/migrations/20250606_init.ts
  apps/backend/src/db/nameEnums.ts
  apps/backend/src/db/seed.ts
  apps/backend/src/db/types/db.d.ts
  apps/backend/src/main.ts
  apps/backend/src/middlewares/acceptBodyCheck.ts
  apps/backend/src/middlewares/acceptHeaderCheck.ts
  apps/backend/src/middlewares/auth.ts
  apps/backend/src/middlewares/utils.ts
  apps/backend/src/routes/elections.routes.ts
  apps/backend/src/services/elections.service.ts
  apps/backend/src/services/users.service.ts
  apps/backend/src/utils.ts
  package-lock.json
  packages/votura-validators/src/objects/election.ts
  packages/votura-validators/src/objects/user.ts
  packages/votura-validators/src/schema/elections/electionPathObject.ts
Labels: Feature, EPIC: Elections, BAPI: Backend API

#168 #164 Implement logging
  apps/backend/.prettierignore
  apps/backend/package.json
  apps/backend/src/db/migrate.ts
  apps/backend/src/db/seed.ts
  apps/backend/src/logger.ts
  apps/backend/src/main.ts
  package-lock.json
  packages/votura-validators/package.json
  turbo.json
Labels: Backend, Feature, Research

#166 #165 document backend architecture
  .teamscale.toml
  apps/backend/src/httpStatusCode.ts
  apps/backend/src/main.ts
  apps/docs/docs/devGuide/envSetup.md
  apps/docs/docs/devGuide/software_docs/backend/index.md
  apps/docs/static/drawio/overview.drawio
  packages/votura-validators/src/schema/voturaOpenApiSchema.ts
Labels: Documentation, Feature

#172 #101 [BAPI] implement create users api
  .gitignore
  apps/backend/package.json
  apps/backend/src/controllers/users.controllers.ts
  apps/backend/src/httpStatusCode.ts
  apps/backend/src/routes/users.routes.ts
  apps/backend/src/services/users.service.ts
  package-lock.json
Labels: EPIC: Users & Sessions, BAPI: Backend API

#178 #83 [BAPI] implement GET elections api
  .github/workflows/testing.yml
  apps/backend/package.json
  apps/backend/src/controllers/elections.controllers.ts
  apps/backend/src/db/migrate.ts
  apps/backend/src/db/migrateToLatest.ts
  apps/backend/src/db/seed.ts
  apps/backend/src/routes/elections.routes.ts
  apps/backend/src/services/elections.service.ts
  apps/backend/test/elections/getElection.test.ts
  apps/backend/test/elections/getElections.test.ts
  apps/backend/test/elections/postElections.test.ts
  apps/backend/test/unknownRoute.test.ts
  apps/backend/test/vitest.setup.ts
  apps/backend/vitest.config.mjs
  package-lock.json
  packages/votura-validators/src/objects/response.ts
Labels: Feature, EPIC: Elections, BAPI: Backend API

#194 #82 [CAPI] implement create & show election UI
  apps/backend/package.json
  apps/backend/src/app.ts
  apps/backend/src/routes/elections.routes.ts
  apps/backend/test/ballotPapers/getBallotPapers.test.ts
  apps/backend/test/ballotPapers/postBallotPapers.test.ts
  apps/docs/docusaurus.config.ts
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/components/BooleanBadge.tsx
  apps/frontend/src/components/DeleteElectionModal.tsx
  apps/frontend/src/components/ElectionSettingsMenu.tsx
  apps/frontend/src/components/MutateElectionModal.tsx
  apps/frontend/src/components/ToggleFreezeElectionModal.tsx
  apps/frontend/src/components/views/election/ElectionStats.tsx
  apps/frontend/src/components/views/election/ElectionView.tsx
  apps/frontend/src/components/views/election/ElectionViewHeader.tsx
  apps/frontend/src/components/views/elections/ElectionsTable.tsx
  apps/frontend/src/components/views/elections/ElectionsView.tsx
  apps/frontend/src/swr/apiRoutes.ts
  apps/frontend/src/swr/elections/useCreateElection.ts
  apps/frontend/src/swr/elections/useGetElection.ts
  apps/frontend/src/swr/elections/useGetElections.ts
  apps/frontend/src/swr/fetcher.ts
  apps/frontend/src/swr/getter.ts
  apps/frontend/src/swr/getterFactory.ts
  apps/frontend/src/swr/poster.ts
  apps/frontend/src/swr/posterFactory.ts
  apps/frontend/src/swr/toArraySchema.ts
  apps/frontend/src/swr/types/ApiHook.d.ts
  apps/frontend/src/swr/useVoturaGithubRepo.ts
  apps/frontend/src/utils/defaults.ts
  apps/frontend/src/vite-env.d.ts
  package-lock.json
  packages/eslint-config/base-eslint-config.mjs
  packages/votura-validators/src/schema/ballotPaperSections/ballotPaperSectionIdParameter.ts
  packages/votura-validators/src/schema/ballotPapers/ballotPaperIdParameter.ts
  packages/votura-validators/src/schema/candidates/candidateIdParameter.ts
  packages/votura-validators/src/schema/elections/electionIdParameter.ts
  packages/votura-validators/src/schema/globals/parameter.ts
  packages/votura-validators/src/schema/voterGroups/voterGroupIdParameter.ts
  packages/votura-validators/src/schema/voturaOpenApiSchema.ts
Labels: Feature, EPIC: Elections, CAPI: Client API

#193 #192 [BAPI] Update API with check for frozen election
  apps/backend/src/app.ts
  apps/backend/src/logger.ts
  apps/backend/src/middlewares/checkFunctions/ballotPaperCheck.ts
  apps/backend/src/middlewares/checkFunctions/electionCheck.ts
  apps/backend/src/middlewares/pathParamChecks/ballotPaperChecks.ts
  apps/backend/src/middlewares/pathParamChecks/electionChecks.ts
  apps/backend/src/middlewares/pathParameterCheck.ts
  apps/backend/src/routes/elections.routes.ts
  apps/backend/test/ballotPapers/getBallotPaper.test.ts
  apps/backend/test/elections/getElection.test.ts
  package-lock.json
Labels: Feature, EPIC: Elections, EPIC: Ballot Paper, BAPI: Backend API
