Repository SE-UUlm/votura, pull requests merged in 2025-08, with the labels that each got.

#300 #254 [BAPI] Move DB queries to service layer
  apps/backend/src/auth/utils.ts
  apps/backend/src/middlewares/auth.ts
  apps/backend/src/middlewares/maxVotesCheckFor.ts
  apps/backend/src/middlewares/pathParamChecks/ballotPaperChecks.ts
  apps/backend/src/middlewares/pathParamChecks/ballotPaperSectionChecks.ts
  apps/backend/src/middlewares/pathParamChecks/candidateChecks.ts
  apps/backend/src/middlewares/pathParamChecks/electionChecks.ts
  apps/backend/src/services/ballotPaperSections.service.ts
  apps/backend/src/services/ballotPapers.service.ts
  apps/backend/src/services/candidates.service.ts
  apps/backend/src/services/elections.service.ts
  apps/backend/src/services/users.service.ts
Labels: DB: Database, Refactoring, BAPI: Backend API

#310 #298 [BAPI] Root error type
  apps/backend/src/controllers/users.controllers.ts
  apps/backend/src/controllers/voterGroups.controllers.ts
  apps/backend/src/services/users.service.ts
  packages/votura-validators/src/objects/response.ts
Labels: Refactoring, BAPI: Backend API

#233 #122 [CUI] More time details
  apps/docs/docs/devGuide/datetimeHandling.md
  apps/frontend/src/components/MutateElectionDrawer.tsx
  packages/e2e/tests/elections.test.ts
  packages/e2e/tests/mutateElectionDrawer.test.ts
Labels: Feature, EPIC: Elections, CUI: Client UI

#316 #269 [BAPI] Implement get voter ballot paper API
  apps/backend/src/app.ts
  apps/backend/src/auth/utils.ts
  apps/backend/src/controllers/voterGroups.controllers.ts
  apps/backend/src/controllers/voting.controllers.ts
  apps/backend/src/middlewares/auth.ts
  apps/backend/src/routes/voting.routes.ts
  apps/backend/src/services/users.service.ts
  apps/backend/src/services/voters.service.ts
  apps/backend/test/users/logoutUser.test.ts
  apps/backend/test/users/refreshUserTokens.test.ts
  apps/backend/test/voting/getVoterElections.test.ts
  cspell.json
  packages/votura-validators/src/index.ts
  packages/votura-validators/src/objects/votingElection.ts
Labels: Feature, BAPI: Backend API, EPIC: Voting

#317 #186 capi implement create show bps UI
  apps/frontend/src/components/AppShellLayout.tsx
  apps/frontend/src/components/views/election/ElectionView.tsx
  apps/frontend/src/components/views/election/ballotPaperBoard/BallotPaperColumn.tsx
  apps/frontend/src/components/views/election/ballotPaperBoard/BallotPaperSettingsMenu.tsx
  apps/frontend/src/components/views/election/ballotPaperBoard/ballotPaperSection/BallotPaperSection.tsx
  apps/frontend/src/components/views/election/ballotPaperBoard/ballotPaperSection/BallotPaperSectionStack.tsx
  apps/frontend/src/components/views/election/ballotPaperBoard/ballotPaperSection/MutateBallotPaperSectionSectionDrawer.tsx
  apps/frontend/src/swr/apiRoutes.ts
  apps/frontend/src/swr/ballotPaperSections/useCreateBallotPaperSection.ts
  apps/frontend/src/swr/ballotPaperSections/useGetBallotPaperSections.ts
  apps/frontend/src/swr/deleter.ts
  apps/frontend/src/swr/getter.ts
  apps/frontend/src/swr/poster.ts
  apps/frontend/src/swr/putter.ts
  apps/frontend/src/utils/notifications.ts
  packages/e2e/tests/ballotPaperSection.test.ts
Labels: Feature, EPIC: Ballot Paper, CAPI: Client API
