Repository SE-UUlm/votura, pull requests merged in 2025-07, with the labels that each got.

#203 #153 [BAPI] Implement CREATE & GET all BPS API
  apps/backend/src/controllers/ballotPaperSections.controllers.ts
  apps/backend/src/routes/elections.routes.ts
  apps/backend/src/services/ballotPaperSections.service.ts
  apps/backend/src/services/ballotPapers.service.ts
  apps/backend/src/services/elections.service.ts
  apps/backend/test/ballotPaperSections/getBallotPaperSections.test.ts
  apps/backend/test/ballotPaperSections/postBallotPaperSections.test.ts
  apps/backend/test/mockData.ts
  packages/votura-validators/src/objects/ballotPaper.ts
  packages/votura-validators/src/objects/ballotPaperSection.ts
  packages/votura-validators/src/objects/refines.ts
  packages/votura-validators/src/schema/ballotPaperSections/ballotPaperSectionsPathObject.ts
Labels: Feature, EPIC: Ballot Paper, BAPI: Backend API

#205 #154 [BAPI] Implement get, update & delete spec. BPS API
  apps/backend/src/controllers/ballotPaperSections.controllers.ts
  apps/backend/src/controllers/ballotPapers.controllers.ts
  apps/backend/src/controllers/elections.controllers.ts
  apps/backend/src/middlewares/pathParamChecks/ballotPaperSectionChecks.ts
  apps/backend/src/routes/elections.routes.ts
  apps/backend/src/services/ballotPaperSections.service.ts
  apps/backend/test/ballotPaperSections/deleteBallotPaperSection.test.ts
  apps/backend/test/ballotPaperSections/getBallotPaperSection.test.ts
  apps/backend/test/ballotPaperSections/updateBallotPaperSection.test.ts
  apps/docs/docs/devGuide/Glossary.md
Labels: Feature, EPIC: Ballot Paper, BAPI: Backend API

#222 #189 [BAPI] Implement update & delete candidate api
  apps/backend/src/controllers/ballotPapers.controllers.ts
  apps/backend/src/controllers/candidates.controller.ts
  apps/backend/src/routes/elections.routes.ts
  apps/backend/src/services/candidates.service.ts
  apps/backend/test/candidates/deleteCandidate.test.ts
  apps/backend/test/candidates/updateCandidate.test.ts
Labels: Feature, EPIC: Ballot Paper, BAPI: Backend API

#223 #198: [BAPI] Update freeze election, key generation
  .github/workflows/testing.yml
  apps/backend/src/controllers/elections.controllers.ts
  apps/backend/src/services/elections.service.ts
  apps/backend/test/elections/freezeElection.test.ts
  packages/votura-crypto/src/index.ts
  packages/votura-validators/src/objects/election.ts
  packages/votura-validators/src/parserParams.ts
  packages/votura-validators/src/schema/elections/freezePathObject.ts
Labels: Feature, EPIC: Elections, BAPI: Backend API

#224 #173 research setup frontend testing
  .github/workflows/testing.yml
  apps/backend/package.json
  apps/backend/src/app.ts
  apps/backend/src/auth/utils.ts
  apps/backend/src/controllers/elections.controllers.ts
  apps/backend/src/main.ts
  apps/backend/src/middlewares/pathParamChecks/ballotPaperChecks.ts
  apps/backend/src/middlewares/pathParamChecks/ballotPaperSectionChecks.ts
  apps/backend/src/middlewares/pathParamChecks/candidateChecks.ts
  apps/backend/src/middlewares/pathParamChecks/electionChecks.ts
  apps/backend/src/services/ballotPaperSections.service.ts
  apps/backend/src/services/ballotPapers.service.ts
  apps/backend/src/services/candidates.service.ts
  apps/backend/src/services/elections.service.ts
  apps/backend/src/services/users.service.ts
  apps/backend/test/vitest.setup.ts
  cspell.json
  package-lock.json
  packages/db/.gitignore
  packages/db/.kysely-codegenrc.json
  packages/db/.prettierignore
  packages/db/.prettierrc.mjs
  packages/db/docker-compose.yml
  packages/db/dockerfile
  packages/db/eslint.config.mjs
  packages/db/package.json
  packages/db/src/database.ts
  packages/db/src/genericContainer.ts
  packages/db/src/main.ts
  packages/db/src/migrate.ts
  packages/db/src/migrateToLatest.ts
  packages/db/src/migrations/20250606_init.ts
  packages/db/src/nameEnums.ts
  packages/db/src/seed.ts
  packages/db/src/types/db.d.ts
  packages/db/tsconfig.json
  packages/e2e/.gitignore
  packages/e2e/.prettierignore
  packages/e2e/.prettierrc.mjs
  packages/e2e/eslint.config.mjs
  packages/e2e/globalSetup.ts
  packages/e2e/globalTeardown.ts
  packages/e2e/package.json
  packages/e2e/playwright.config.ts
  packages/e2e/testEnv.ts
  packages/e2e/tests/example.spec.ts
  packages/e2e/tsconfig.json
  packages/logger/.gitignore
  packages/logger/.prettierignore
  packages/logger/.prettierrc.mjs
  packages/logger/eslint.config.mjs
  packages/logger/package.json
  packages/logger/src/main.ts
  packages/logger/tsconfig.json
  turbo.json
Labels: Frontend, Testing, E2E: End-to-end tests

#248 #243 [DB] Add votergroup owner
  apps/docs/static/uml/dataModel.puml
  package-lock.json
  packages/db/src/migrations/20250606_init.ts
  packages/db/src/nameEnums.ts
Labels: DB: Database, Feature, EPIC: Voter

#250 #237 [BAPI] maxVotesPerCandidate check
  apps/backend/src/middlewares/maxVotesCheckFor.ts
  apps/backend/test/ballotPaperSections/updateBallotPaperSection.test.ts
  apps/backend/test/ballotPapers/updateBallotPaper.test.ts
  packages/db/src/migrations/20250606_init.ts
Labels: Feature, EPIC: Ballot Paper, BAPI: Backend API

#244 #127 [CAPI] Implement login sessions UI
  .github/workflows/testing.yml
  apps/backend/package.json
  apps/backend/src/app.ts
  apps/backend/src/services/users.service.ts
  apps/backend/test/users/refreshUserTokens.test.ts
  apps/backend/test/vitest.setup.ts
  apps/docs/docs/devGuide/testing.md
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/browserRouter.ts
  apps/frontend/src/components/AppShellLayout.tsx
  apps/frontend/src/components/AuthedRouterOutlet.tsx
  apps/frontend/src/components/views/login/LoginView.tsx
  apps/frontend/src/main.tsx
  apps/frontend/src/swr/api.ts
  apps/frontend/src/swr/apiRoutes.ts
  apps/frontend/src/swr/authTokens.ts
  apps/frontend/src/swr/getter.ts
  apps/frontend/src/swr/poster.ts
  apps/frontend/src/swr/putter.ts
  apps/frontend/src/swr/useLoginUser.ts
  apps/frontend/vite.config.ts
  package-lock.json
  packages/db/package.json
  packages/db/src/runSeed.ts
  packages/db/src/seed.ts
  packages/e2e/package.json
  packages/e2e/playwright.config.ts
  packages/e2e/testEnv.ts
  packages/e2e/tests/example.spec.ts
  packages/e2e/tests/login.test.ts
  packages/hash/.gitignore
  packages/hash/.prettierignore
  packages/hash/.prettierrc.mjs
  packages/hash/eslint.config.mjs
  packages/hash/package.json
  packages/hash/src/main.ts
  packages/hash/tsconfig.json
  packages/votura-validators/src/schema/globals/tag.ts
  packages/votura-validators/src/schema/heartBeatPathObject.ts
  packages/votura-validators/src/schema/voturaOpenApiSchema.ts
  turbo.json
Labels: Feature, EPIC: Users & Sessions, CAPI: Client API

#276 #251: Add candidate only one time
  apps/backend/src/controllers/ballotPaperSections.controllers.ts
  apps/backend/src/middlewares/bodyChecks/ballotPaperSectionCandidateChecks.ts
  apps/backend/src/routes/elections.routes.ts
  apps/backend/src/services/candidates.service.ts
  apps/backend/test/ballotPaperSections/addCandidateToBallotPaperSection.test.ts
  apps/backend/test/ballotPaperSections/removeCandidateFromBallotPaperSection.test.ts
  package-lock.json
  packages/hash/package.json
  packages/votura-validators/src/schema/ballotPaperSections/candidatePathObject.ts
  packages/votura-validators/src/schema/candidates/candidateIdPathObject.ts
  packages/votura-validators/src/schema/candidates/candidatesPathObject.ts
Labels: Bug, EPIC: Ballot Paper, BAPI: Backend API

#279 #245 [CAPI] Update election UI/UX
  apps/frontend/src/components/ElectionSettingsMenu.tsx
  apps/frontend/src/components/MutateElectionDrawer.tsx
  apps/frontend/src/components/views/election/ElectionViewHeader.tsx
  apps/frontend/src/components/views/elections/ElectionsTable.tsx
  apps/frontend/src/components/views/elections/ElectionsView.tsx
  packages/e2e/tests/elections.test.ts
Labels: Feature, EPIC: Elections, CAPI: Client API

#302 #289 [CUI] Replace Vite logo with votura logo and update page title
  apps/frontend/index.html
  apps/frontend/public/logo.svg
  apps/frontend/public/vite.svg
  apps/frontend/src/assets/react.svg
Labels: Frontend, Refactoring, CUI: Client UI

#305 #185 [CAPI] Implement update delete bp UI
  apps/frontend/src/components/views/election/ElectionView.tsx
  apps/frontend/src/components/views/election/ballotPaperBoard/BallotPaperBoard.tsx
  apps/frontend/src/components/views/election/ballotPaperBoard/BallotPaperColumn.tsx
  apps/frontend/src/components/views/election/ballotPaperBoard/BallotPaperSettingsMenu.tsx
  apps/frontend/src/components/views/election/ballotPaperBoard/DeleteBallotPaperModal.tsx
  apps/frontend/src/swr/apiRoutes.ts
  apps/frontend/src/swr/ballotPapers/useDeleteBallotPaper.ts
  apps/frontend/src/swr/ballotPapers/useUpdateBallotPaper.ts
  apps/frontend/src/swr/deleter.ts
  apps/frontend/src/utils/notifications.ts
  cspell.json
  packages/db/src/seed.ts
  packages/e2e/tests/ballotPaper.test.ts
Labels: Feature, EPIC: Ballot Paper, CAPI: Client API

#307 #210: [BAPI] Add helmet to express
  apps/backend/package.json
  apps/backend/src/app.ts
  package-lock.json
Labels: Security, Platform, BAPI: Backend API
