Repository SE-UUlm/votura, pull requests merged in 2025-05, with the labels that each got.

#35 #33: Documentation Setup
  .gitattributes
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/administrative_task.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/requirement.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/config.yml
  .github/workflows/deploy-docs.yml
  .gitignore
  Assets/VoturaLogo.png
  README.md
  apps/docs/.gitignore
  apps/docs/docs/_templatePage.md
  apps/docs/docs/about/index.md
  apps/docs/docs/devGuide/code_of_conduct.mdx
  apps/docs/docs/devGuide/contributing.mdx
  apps/docs/docs/devGuide/index.md
  apps/docs/docs/devGuide/projectDocs.md
  apps/docs/docs/devGuide/software_docs/backend/db.md
  apps/docs/docs/devGuide/software_docs/backend/index.md
  apps/docs/docs/devGuide/software_docs/backend/restAPI.md
  apps/docs/docs/devGuide/software_docs/cryptographicWorkflow.md
  apps/docs/docs/devGuide/software_docs/frontend.md
  apps/docs/docs/devGuide/software_docs/index.md
  apps/docs/docs/devGuide/software_docs/overview.md
  apps/docs/docs/userGuide/Functionality.md
  apps/docs/docs/userGuide/index.md
  apps/docs/docs/userGuide/tutotials/electionAdminTutorial.md
  apps/docs/docs/userGuide/tutotials/index.md
  apps/docs/docs/userGuide/tutotials/systemAdminTutorial.md
  apps/docs/docs/userGuide/tutotials/voterTutorial.md
  apps/docs/docusaurus.config.ts
  apps/docs/package-lock.json
  apps/docs/package.json
  apps/docs/sidebars.ts
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/components/HomepageFeatures/styles.module.css
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.module.css
  apps/docs/src/pages/index.tsx
  apps/docs/static/.nojekyll
  apps/docs/static/drawio/overview.drawio
  apps/docs/static/img/logo.svg
  apps/docs/static/img/logo_1l.svg
  apps/docs/static/img/logo_1l_w.svg
  apps/docs/static/img/logo_3l.svg
  apps/docs/static/img/logo_3l_w.svg
  apps/docs/static/img/logo_collection.svg
  apps/docs/static/img/logo_w.svg
  apps/docs/static/uml/dataModel.puml
  apps/docs/tsconfig.json
Labels: Documentation, CI/CD Pipeline, Feature, Administrative

#42 #32: Turbo monorepo setup
  .gitattributes
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/requirement.yml
  .github/SECURITY.md
  .github/workflows/deploy-docs.yml
  .github/workflows/testing.yml
  .gitignore
  apps/backend/README.md
  apps/docs/README.md
  apps/docs/docs/about/index.md
  apps/docs/docs/devGuide/code_of_conduct.mdx
  apps/docs/docs/devGuide/contributing.mdx
  apps/docs/docs/devGuide/envSetup.md
  apps/docs/docs/userGuide/tutotials/electionAdminTutorial.md
  apps/docs/docusaurus.config.ts
  apps/docs/eslint.config.js
  apps/docs/package.json
  apps/docs/sidebars.ts
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.tsx
  apps/docs/static/drawio/overview.drawio
  apps/docs/static/uml/repoStructure.puml
  apps/frontend/README.md
  package-lock.json
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/base.ts
  packages/eslint-config/package.json
  packages/typescript-config/package.json
  packages/typescript-config/react-library.json
  packages/typescript-config/tsconfig.json
  packages/votura-crypto/README.md
  turbo.json
Labels: Documentation, CI/CD Pipeline, Platform

#71 #59 setup init react frontend
  .github/workflows/testing.yml
  apps/backend/package.json
  apps/frontend/.gitignore
  apps/frontend/.prettierignore
  apps/frontend/.prettierrc.mjs
  apps/frontend/eslint.config.js
  apps/frontend/index.html
  apps/frontend/package.json
  apps/frontend/postcss.config.js
  apps/frontend/public/vite.svg
  apps/frontend/src/App.css
  apps/frontend/src/App.tsx
  apps/frontend/src/assets/react.svg
  apps/frontend/src/index.css
  apps/frontend/src/main.tsx
  apps/frontend/src/store/useStore.ts
  apps/frontend/src/swr/fetcher.ts
  apps/frontend/src/swr/useVoturaGithubRepo.ts
  apps/frontend/src/vite-env.d.ts
  apps/frontend/tsconfig.app.json
  apps/frontend/tsconfig.json
  apps/frontend/tsconfig.node.json
  apps/frontend/vite.config.ts
  package-lock.json
Labels: Frontend, Feature

#72 #58 setup init server and api
  .github/workflows/testing.yml
  apps/backend/api/openapi.yaml
  apps/backend/package.json
  apps/backend/src/main.ts
  apps/docs/.gitignore
  apps/docs/docs/devGuide/envSetup.md
  apps/docs/docs/devGuide/projectDocs.md
  apps/docs/docs/devGuide/software_docs/backend/prismaORM.md
  apps/docs/docs/devGuide/software_docs/backend/restAPI.md
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/static/drawio/electionLayout.drawio
  package-lock.json
Labels: Documentation, Backend

#92 #63: user management
  apps/docs/static/uml/dataModel.puml
  apps/docs/static/uml/electionCreationAndVoting.puml
Labels: Administrative, EPIC: Users & Sessions

#104 #95 create dummy code for api endpoints
  apps/backend/package.json
  apps/backend/src/client.ts
  apps/backend/src/controllers/users.controllers.ts
  apps/backend/src/main.ts
  apps/backend/src/routes/users.routes.ts
  apps/backend/src/services/users.service.ts
  apps/backend/tsconfig.json
  package-lock.json
  turbo.json
Labels: Backend, Feature, API, EPIC: Elections

#103 #89: Add glossary
  apps/docs/docs/devGuide/Glossary.md
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  package-lock.json
Labels: Documentation, Feature

#108 #75 add code spellchecker to pipeline
  .github/workflows/deploy-docs.yml
  .github/workflows/testing.yml
  apps/backend/api/elections/elections.yaml
  apps/backend/api/elections/freeze.yaml
  apps/backend/api/elections/specificElection.yaml
  apps/backend/api/users/schemas.yaml
  cspell.json
  package-lock.json
  package.json
Labels: CI/CD Pipeline, Testing
